<%= form_for(@designated_operational_entity) do |f| %>
  <% if @designated_operational_entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@designated_operational_entity.errors.count, "error") %> prohibited this designated_operational_entity from being saved:</h2>

      <ul>
      <% @designated_operational_entity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br />
    <%= f.number_field :entity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
