<h1>Listing host_project_participants</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Entity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @host_project_participants.each do |host_project_participant| %>
  <tr>
    <td><%= host_project_participant.project_id %></td>
    <td><%= host_project_participant.entity_id %></td>
    <td><%= link_to 'Show', host_project_participant %></td>
    <td><%= link_to 'Edit', edit_host_project_participant_path(host_project_participant) %></td>
    <td><%= link_to 'Destroy', host_project_participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Host project participant', new_host_project_participant_path %>
