<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @annex1_project_participant.project_id %>
</p>

<p>
  <b>Entity:</b>
  <%= @annex1_project_participant.entity_id %>
</p>


<%= link_to 'Edit', edit_annex1_project_participant_path(@annex1_project_participant) %> |
<%= link_to 'Back', annex1_project_participants_path %>
